/* General Appearance*/
html, body {
	background-color: lightgray;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

div {
	border: 1px solid chocolate;
}

/* Navigation */
ul {
	list-style: none;
}

.main-navbar {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
}

.main-navbar > .content {
	width: 970px;
	height: 4.375rem;
	margin: 0 auto;
	padding: 0px 0.938rem;
}

/* Logo Appearance */
.main-navbar > .logo {
	height: 4.375rem;
}

.main-navbar .links {
	float: right;
	color: #838994;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	letter-spacing: 0.03em;
	margin-top: 1.5rem;
}

.main-navbar .links li {
	display: inline-block;
	margin-left: 1.563rem;
	transition: color 0.5s ease;
}

.main-navbar .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.main-navbar .links li:hover {
	color: #333333;
	cursor: pointer;
}

/* Masthead Appearance */
.masthead {
	background-image: url('../images/first-background-copy.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

/*Content Appearance */
.masthead .content h1, .masthead .content h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 300;
}

.masthead .content h1 {
	font-size: 3.125rem;
	margin-top: 15.5rem;
	margin-bottom: 1.5rem;
}

.masthead .content h3 {
	font-size: 1.563rem;
	margin-bottom: 1.5rem;
}

/* Masthead Button Appearance*/
button {
	text-shadow: none;
	border-style: none;
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	padding: 1rem 1.5rem;
	border-radius: 4px;
	display: block;
	margin: 0 auto;
/* Button Text */
	color: #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.125rem;
}

button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}